<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>001</key>
		<dict>
			<key>id</key>
			<string>C</string>
			<key>imagePath</key>
			<string>c</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_C2.wav</string>
		</dict>
		<key>002</key>
		<dict>
			<key>id</key>
			<string>C sharp</string>
			<key>imagePath</key>
			<string>c_sharp</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_C2sharp.wav</string>
		</dict>
		<key>003</key>
		<dict>
			<key>id</key>
			<string>D</string>
			<key>imagePath</key>
			<string>d</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_D2.wav</string>
		</dict>
		<key>004</key>
		<dict>
			<key>id</key>
			<string>D sharp</string>
			<key>imagePath</key>
			<string>d_sharp</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_D2sharp.wav</string>
		</dict>
		<key>005</key>
		<dict>
			<key>id</key>
			<string>E</string>
			<key>imagePath</key>
			<string>e</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_E2.wav</string>
		</dict>
		<key>006</key>
		<dict>
			<key>id</key>
			<string>F</string>
			<key>imagePath</key>
			<string>f</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_F2.wav</string>
		</dict>
		<key>007</key>
		<dict>
			<key>id</key>
			<string>F sharp</string>
			<key>imagePath</key>
			<string>f_sharp</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_F2sharp.wav</string>
		</dict>
		<key>008</key>
		<dict>
			<key>id</key>
			<string>G</string>
			<key>imagePath</key>
			<string>g</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_G2.wav</string>
		</dict>
		<key>009</key>
		<dict>
			<key>id</key>
			<string>G sharp</string>
			<key>imagePath</key>
			<string>g_sharp</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_G2sharp.wav</string>
		</dict>
		<key>010</key>
		<dict>
			<key>id</key>
			<string>A</string>
			<key>imagePath</key>
			<string>a</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_A2.wav</string>
		</dict>
		<key>011</key>
		<dict>
			<key>id</key>
			<string>A sharp</string>
			<key>imagePath</key>
			<string>a_sharp</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_A2sharp.wav</string>
		</dict>
		<key>012</key>
		<dict>
			<key>id</key>
			<string>B</string>
			<key>imagePath</key>
			<string>b</string>
			<key>soundPath</key>
			<string>steelAcousticGuitar_B2.wav</string>
		</dict>
	</dict>
</plist>
